body {
  margin: 12px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

/* h1 {
  padding-top: 33px;
  margin: 0;
  text-align: center;
} */

/* 117,83 */

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 550px;
  height: 300px;
  margin: 0 auto;
  background-color: #665f80;
  color: white;
  border-radius: 10px;
}

#input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  width: 117px;
  height: 83px;
  border: 4px solid #b295ff;
  border-radius: 10px;
  font-size: xx-large;
  font-weight: bolder;
  background-color: white;
  color: black;
}

#input-box:focus {
  background-color: white;
  color: black;
}

#btn-convert {
  margin: 10px 0;
  padding: 10px 30px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: large;
  border: 3px solid black;
}

#btn-convert:hover {
  border-color: white;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 550px;
  height: 450px;
  background-color: #f4f4f4;
  color: #353535;
}

.card {
  text-align: center;
  /* margin: 4px 0; */
  background-color: white;
  width: 500px;
  height: 100px;
  border-radius: 10px;
}
